*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
    body {margin: 30px;
    }
.menu ul{
    font-family:"Raleway", sans-serif;
    font-weight: 400 ;
    font-size: 14px;
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    }

.menu ul li a{
    color:rgb(255, 225, 230);
    font-weight: bold;
    border-style:inset;
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    background-color: #ad10ad ;
    }
.menu ul li a:hover{
    background-color: rgb(245, 114, 243);
    }
.li1 {
    order: 1;
    flex-grow: 2;
     }
.li2 {
    order: 2;
    flex-grow: 2;
     }
.li3 {
    order: 3;
    flex-grow: 2;
     }
.li4 {
        order: 4;
        flex-grow: 2;
    }
.li5 {
        order: 5;
        flex-grow: 2;
    }

h2{
    font-family: "raleway", sans-serif; 
    color: #ad10ad;
    margin: 20px;
    text-align: center;
    border-radius: 10px; 
    border: 1px solid #ad10ad;
    padding: 10px;
    background-color: rgb(255, 239, 251);;

}

h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #5a035a;
    padding: 20px;
}
p{
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.equipo {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
 .equipo p {
    font-size: medium;
    border-radius: 10px; 
    border: 1px solid #ad10ad;
    margin: 20px;
    padding: 2% ;
    width: 500px;
    height: 350px;
}

.equipo img{
    border-radius: 10px; 
    border: 1px solid #ad10ad;
    width: 340px;
    height: 340px;
    object-fit: cover;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.contenedor-card{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    background-color: rgb(255, 209, 243);
    height: auto;
    border: 1px solid #ad10ad;
    border-radius: 10px; 
}
.card-equipo{

    margin: 5px;
    background-color: white;
    box-shadow: 1px 0 5px 05px rgba(0,0,0,0.3) ;
    width: 350px;
    height:auto;
    border: 1px solid #ad10ad;
    border-radius: 10px; 
    height: 480px;
    text-align: center;
}
.card-equipo img{
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-top-left-radius: 10px; 
        border-top-right-radius: 10px; 
}
.texto-card{
    padding: 10px;
    height: 50%;
    overflow: hidden;

}
.texto-card h5{
    font-family:"raleway", sans-serif ;
    font-size: large;
    text-align: center;
    color: #5a035a;

}

.femicidio {
    display:flex;
}
.flecha {
    width: 20px;
}
footer{
    font-size: 12px;
    text-align: center;
    color:rgb(253, 249, 230);
    background-color: #ad10ad;
    display:block;
    padding-bottom: 20px;
    }
 #margincopy {
    padding: 10px 5px;
    }

 
